#video-streams {
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(500px,1fr));
  height: 90vh;
  width: 1400px;
}

.video-container {
  height: 50%;
  border: 2px solid black;
}

.video-player {
  height: 200%;
  width: 100%;
}

#stream-controls {
  display: none;
}
